#------- ESTACION STATION -----------------------------------------------------------------------------------------------------------------------------
DAT_SEASON_STATION <- read.table("../dataFiles/pares/INTERVALO/monthlyPairs/pom/STATION_mSEASON.txt",sep = ",", header = TRUE, fill = FALSE)
OBS_SEASON_STATION <- DAT_SEASON_STATION$OBSERVACION
FCT_SEASON_STATION <- DAT_SEASON_STATION$PRONOSTICO

#TAYLOR ADD POINT
taylor.diagram(OBS_SEASON_STATION,FCT_SEASON_STATION,add=TRUE,col="COLOR",normalize=TRUE,pch=SHAPE)

